<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">

      <link href="/css/blog-post.css" rel="stylesheet">



  </head>

  <body>

    <h1 class="container">Main home layout</h1>

   {{> home/home-nav }}

    <!-- Page Content -->
    <div class="container">

   {{> home/form-message}}

   {{#if errors}}
     {{#each errors}}
     
     <div class="alert alert-danger">
       {{message}}
     </div>
     
     {{/each}}
   {{/if}}
    {{{body}}}

    </div>
    <!-- /.container -->

   {{> home/footer }}

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
